#input {

    max-width: 100px;
    border-radius: 3px;
    border: solid 1px black;
    margin-top: 40px;
    margin-left: 40px;

  }

  #select {

    width: 400px;
    margin-top: 40px;
    margin-left: 40px;

  }

  

  

  